table {
    text-align: center;
    width: 100%;
}

th {
    padding: 0.25em;
}

td   {
    padding: 0.25em;
}

.outer-table {
    background-color: white;
    border-collapse: collapse;
}

.table-head th {
    background-color: #f9fafb;
}

.inner-table {
    border-collapse: collapse;
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
} 

.inner-table th {
    padding: 0.6em;
    background-color: #f9fafb;
    border-radius: 5px;
}

.inner-table-container {
    padding: 0.6em;
    background-color: #e5e7eb;
}

.table-container {
    background-color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.chevron {
    width: 2%;
} 

.asset-type {
    width: 19.6%;
}

.current-amount {
    width: 19.6%;
}

.allocation-amount {
    width: 19.6%;
}

.target-percentage {
    width: 19.6%;
}

.difference {
    width: 19.6%;
}

.asset-name {
    width: 16.67%;
}

.asset {
    width: 16.67%;
}